.book-title {
    color: #04AA6D;
}

.form-name {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
}
.form-name:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



.form-author {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
}
.form-author:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



.form-price {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    max-width: 100px;
    width: 100%;
}
.form-price:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}




.form-description {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    max-width: 700px;
    width: 100%;
    height: auto;
}
.form-description:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.btn {
    background-color: rgb(255, 96, 96);
    border-radius: 5px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.btn:hover {
    background-color: rgb(255, 76, 76);
    width: 51px;
    height: 31px;
}

.btn span {
    color: #fff;
}